/* social links */

.social {
    background-color: #0A0A0B;
    padding: 1rem 3rem;
}

.social ul,
.social h4 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social a,
h4 {
    color: #666565;
    text-align: center;
}

.social a:hover,
.social a:focus {
    color: #fff;
}