@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');
header {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(236, 223, 223, 0.05), rgba(0, 0, 0, 0.5)), url('../assets/images/cover-2.jpg') no-repeat;
    background-size: cover;
    background-position: center 50px;
    background-attachment: fixed;
    font-weight: 400;
    position: relative;
}

header .text-wrapper {
    position: absolute;
    z-index: 0;
    bottom: 120px;
    left: 0;
    right: 0;
    color: #ff1493;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

header h1 {
    font-family: 'Sniglet', cursive;
    font-size: 140px;
    text-shadow: -6px 3px 3px #000, 3px -3px 2px #000, 5px -5px 26px rgb(28, 15, 211), 2px -4px 2px #7b7b7b;
}

header p {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 5px;
    text-align: center;
    margin: 0 auto;
}

header span {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
}

@media (max-width: 890px) {
    header {
        height: 73vw;
        background-size: 110%;
        background-position: top;
        background-attachment: local;
    }
    header h1 {
        font-size: 11vw;
    }
    header p {
        font-size: 12px;
    }
    header .text-wrapper {
        bottom: 5vw;
    }
}

@media (max-width: 722px) {
    header {
        background-position: 0 0.1vw;
    }
}